#jumbo {
    background-image: url("./images/test2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: #57badb;
    font-size: 1.2rem;
    font-weight: bold;
}

label {
    font-weight: bold;
}

.form-container {
    width: 60%;
    margin: 0 auto;
}
